*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: minmax(120px, auto) repeat(5, 120px);
}

.calculator-grid > button {
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  border: 3px solid rgb(42, 61, 66);
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgb(20, 20, 20);
}

.calculator-grid > button:hover {
  background-color: rgb(76, 91, 230);
  color: white;
  transition: all ease-in-out .25s;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  word-wrap: break-word;
  word-break: break-all;
  border : 5px solid #d9dceb;
  border-radius: 5px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
